In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df1= pd.DataFrame({'P':['P0','P1','P2'],
                  'Q':['Q0','Q2','Q3']}, index= ['A0','A1','A2'])

df2= pd.DataFrame({'W':['W0','W1','W2'],
                  'E':['E0','E2','E3']}, index= ['A0','A2','A3'])

df3= pd.DataFrame({'key':['P0','P1','P2','P3','P4','P5'],
                  'Q':['Q0','Q2','Q3','Q4','Q5','Q6']})

df4= pd.DataFrame({'key':['P0','P1','P2'],
                  'E':['E0','E2','E3']})

In [4]:
df1

     P   Q
A0  P0  Q0
A1  P1  Q2
A2  P2  Q3

In [5]:
df2

     W   E
A0  W0  E0
A1  W1  E2
A2  W2  E3

In [6]:
df1.join(df2)

     P   Q   W   E
A0  P0  Q0  W0  E0
A1  P1  Q2  W1  E2
A2  P2  Q3  W2  E3

In [7]:
c

     P   Q   W   E
A0  P0  Q0  W0  E0
A1  P1  Q2  W1  E2
A2  P2  Q3  W2  E3