In [1]:
import pandas as pd
import numpy as np

In [3]:
df1= pd.DataFrame({'employee':['Ajay','Vijay','Adam','Rohit'],
                  'department':['Data Science','Web Development','Data Science','Cyber Security'],
                  'Year':['2005','2011','2022','1995']})
df2= pd.DataFrame({'employee':['Vijay','Adam','Rohit','Ajay'],
                  'city':['Delhi','Haldwani','Nanital','Dehradun'],
                  'salary':['20000','21100','22200','25000'],
                  'Year':['2005','2011','2022','1995']})
df3= pd.DataFrame({'manager':['Karan','Ramesh','Neel'],
                  'department':['Data Science','Web Development','Cyber Security']})
df6= pd.DataFrame({'department':['Data Science','Web Development','Web Development','Data Science','Cyber Security',
                                 'Cyber Security'],
                  'programming':['PYTHON','HTML','CSS','R','C++','SQL']})

In [4]:
df1

  employee       department  Year
0     Ajay     Data Science  2005
1    Vijay  Web Development  2011
2     Adam     Data Science  2022
3    Rohit   Cyber Security  1995

In [10]:
df9=df1.to_txt("data_set2.xlsx")

In [12]:
df9=df1.to_csv("data_set3.txt")