In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df1= pd.DataFrame({'P':['P0','P1','P2'],
                  'Q':['Q0','Q2','Q3']}, index= ['A0','A1','A2'])

df2= pd.DataFrame({'W':['W0','W1','W2'],
                  'E':['E0','E2','E3']}, index= ['A0','A2','A3'])

df3= pd.DataFrame({'key':['P0','P1','P2','P3','P4','P5'],
                  'Q':['Q0','Q2','Q3','Q4','Q5','Q6']})

df4= pd.DataFrame({'key':['P0','P1','P2'],
                  'E':['E0','E2','E3']})

In [4]:
df1

     P   Q
A0  P0  Q0
A1  P1  Q2
A2  P2  Q3

In [5]:
df2

     W   E
A0  W0  E0
A2  W1  E2
A3  W2  E3

In [6]:
df1.join(df2)

     P   Q    W    E
A0  P0  Q0   W0   E0
A1  P1  Q2  NaN  NaN
A2  P2  Q3   W1   E2

In [7]:
df1.join(df2,how="inner")

     P   Q   W   E
A0  P0  Q0  W0  E0
A2  P2  Q3  W1  E2

In [8]:
df1.join(df2,how="outer")

      P    Q    W    E
A0   P0   Q0   W0   E0
A1   P1   Q2  NaN  NaN
A2   P2   Q3   W1   E2
A3  NaN  NaN   W2   E3

In [9]:
df1.join(df2,how="right")

      P    Q   W   E
A0   P0   Q0  W0  E0
A2   P2   Q3  W1  E2
A3  NaN  NaN  W2  E3

In [10]:
df3

  key   Q
0  P0  Q0
1  P1  Q2
2  P2  Q3
3  P3  Q4
4  P4  Q5
5  P5  Q6

In [11]:
df4

  key   E
0  P0  E0
1  P1  E2
2  P2  E3

In [12]:
df3.join(df4)

ValueError: columns overlap but no suffix specified: Index(['key'], dtype='object')

In [13]:
df3.join(df4,lsuffix="left",rsuffix="right")

  keyleft   Q keyright    E
0      P0  Q0       P0   E0
1      P1  Q2       P1   E2
2      P2  Q3       P2   E3
3      P3  Q4      NaN  NaN
4      P4  Q5      NaN  NaN
5      P5  Q6      NaN  NaN

In [14]:
df3.join(df4,lsuffix="left",rsuffix="right",how="inner")

  keyleft   Q keyright   E
0      P0  Q0       P0  E0
1      P1  Q2       P1  E2
2      P2  Q3       P2  E3

In [15]:
df3.join(df4,lsuffix="left",rsuffix="right",how="right")

  keyleft   Q keyright   E
0      P0  Q0       P0  E0
1      P1  Q2       P1  E2
2      P2  Q3       P2  E3